.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  .wrapper__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    .wrapper__container__input__password {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .wrapper__container__input__password__toggle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        color: white;
        margin-right: 8px;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    h2 {
      color: white;
      cursor: default;
    }
    input {
      line-height: 36px;
      border: 1px solid white;
      border-radius: 8px;
      color: white;
      padding: 5px 10px;
      margin: 5px 0;
      outline: none;
      transition: all .2s;
      &:hover,
      &:focus {
        transform: scale(1.02);
        border: 1px solid rgb(138, 239, 97);
      }
    }
    .wrapper__container__sbmt__btn {
      color: white;
      border: 1px solid white;
      border-radius: 8px;
      margin: 20px 30px 5px 30px;
      padding: 10px 0;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: rgb(138, 239, 97);
        color: black;
        font-weight: 600;
      }
    }
    .wrapper__container__have_acc_btn {
      color: white;
      border: 1px solid transparent;
      margin: 10px;
      padding: 5px;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        border: 1px solid rgb(138, 239, 97);
        border-radius: 10px;
      }
    }
  }
}
