.create__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
	.create__wrapper__name,
	.create__wrapper__main,
	button {
		color: white;
		margin: 0 10px;
		border: 1px solid white;
		border-radius: 10px;
		padding: 5px 10px;
		transition: all 0.3s;
		font-weight: 500;
		outline: none;
		&:hover {
			transform: scale(1.03);
		}
	}
	.create__wrapper__name,
	.create__wrapper__main {
		&:focus, &:hover {
			background-color: rgb(173, 197, 36);
			color: rgb(0, 0, 0);
		}
	}
	button {
		padding: 0 20px;
		transition: all 0.3s;
		background-color: rgb(0, 0, 0);
		&:hover {
			font-weight: 600;
			background-color: rgb(173, 197, 36);
			color: black;
		}
	}
}
